<?xml version="1.0" encoding="utf-8"?>
<LEConfig>
  <Profiles>
    <Profile Name="noppack.exe.le.config" Guid="ba954abf-2cf7-4efc-90c3-4b6d90aed470" MainMenu="false">
      <Parameter></Parameter>
      <Location>ko</Location>
      <Timezone>Korea Standard Time</Timezone>
      <RunAsAdmin>false</RunAsAdmin>
      <RedirectRegistry>true</RedirectRegistry>
      <IsAdvancedRedirection>false</IsAdvancedRedirection>
      <RunWithSuspend>false</RunWithSuspend>
    </Profile>
  </Profiles>
</LEConfig>